.registerLoginFormContainer {
  width: 37rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.registerLoginFormContainer .formContainer {
  width: 100%;
  border: 1.5px solid var(--border-primary);
  padding: 3rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.registerLoginFormContainer .formContainer .logoImage img {
  width: 19rem;
}

.formContainer .authMessage {
  color: var(--text-color-1);
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  line-height: 2rem;
  word-spacing: 0.1rem;
  text-align: center;
  margin-top: 0.5rem;
}

.registerLoginFormContainer .formToggle {
  width: 100%;
  border: 1.5px solid var(--border-primary);
  padding: 3rem 5rem;
}

.RegisterLoignForm {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.RegisterLoignForm .input-group {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--bg-secondary);
  height: 4rem;
  border: 1px solid var(--border-secondary);
  border-radius: 3px;
}

.RegisterLoignForm .input-group .icon {
  height: 100%;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--text-color-1);
}

.RegisterLoignForm .input-group .field {
  height: 100%;
  width: 100%;
  position: relative;
}

.RegisterLoignForm .input-group .field label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: var(--text-color-1);
  font-size: 1.4rem;
  pointer-events: none;
  transition: 0.3s ease;
  font-family: var(--font-main);
  font-weight: 500;
}

.RegisterLoignForm .input-group .field input {
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  font-family: var(--font-main);
  padding-top: 1.5rem;
  color: var(--text-color-2);
  font-size: 1.4rem;
  letter-spacing: 0.03rem;
  padding-right: 4rem;
}

/* FLOATING LABEL TRIGGER */
.RegisterLoignForm .input-group .field input:focus + label,
.RegisterLoignForm .input-group .field input:not(:placeholder-shown) + label {
  top: 0.4rem;
  left: 1rem;
  font-size: 1.1rem;
  transform: translateY(0);
}
.eyeIconCont {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  border-radius: 3px;
  height: 100%;
  width: 4rem;
  font-size: 1.8rem;
  color: var(--text-color-1);
  cursor: pointer;
}

.agreement-text {
  margin-top: 1rem;
  text-align: center;
  color: var(--text-color-1);
  font-size: 1.2rem;
  font-family: var(--font-heading);
  line-height: 2rem;
  font-weight: 500;
}

.agreement-text span {
  color: #6878ff;
  cursor: pointer;
  margin: 0 0.2rem;
  font-family: var(--font-main);
  font-weight: 500;
  font-family: inherit;
}

.forgot-password {
  font-family: var(--font-heading);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
}

.toggleText {
  text-align: center;
  font-size: 1.3rem;
  font-family: var(--font-heading);
  word-spacing: 0.03rem;
  letter-spacing: 0.02rem;
}

.toggleText span {
  color: var(--text-color-3);
  font-family: var(--font-heading);
  font-weight: 600;
  cursor: pointer;
}
