/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1.5px solid var(--border-primary);
  padding: 2rem 1.4rem;
  transition: var(--transition-fast);
  width: 25rem;
  height: 100%;
  background: var(--bg-primary);
  position: relative;
  z-index: 2;
}

.sidebar.active {
  width: max-content;
}

/* sidebar logo */
.sidebar .navContainer .logo,
.sidebar .navContainer .logoSmall {
  margin: 2rem 0 5rem 1rem;
}

.sidebar .navContainer .logoSmall {
  display: none;
}

.sidebar .navContainer .logo .name_logo {
  height: 3.5rem;
  transition: var(--transition-fast);
}

.sidebar .navContainer .logo .icon_logo,
.sidebar .navContainer .logoSmall .icon_logo {
  width: 3.5rem;
  transition: var(--transition-fast);
}

.sidebar .navContainer .logoSmall .icon_logo {
  width: 3.5rem;
  transition: var(--transition-fast);
}

/* nav link */
.sidebar .navigationLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* sidebar link container */
.sidebar .linkContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: var(--transition-fast);
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar .linkContainer.active {
  background-color: var(--hover-primary);
}

.sidebar .linkContainer:hover {
  background-color: var(--hover-primary);
}

/* icon wrapper */
.sidebar .icon {
  color: var(--text-color-2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 2.4rem;
}

/* .sidebar .message .icon,  */
.sidebar .explore .icon {
  font-size: 2.5rem;
}

.sidebar .icon.imageIcon {
  border-radius: 50%;
  overflow: hidden;
  height: 3.5rem;
  width: 3.5rem;
}

.sidebar .name {
  color: var(--text-color-2);
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  transition: var(--transition-fast);
}

.sidebar.active .name {
  display: none;
}

.sidebar .name.active {
  font-weight: 600;
}

/* more option modal */
.optionContainer {
  position: relative;
}

.optionContainer .moreOptionModalContainer {
  position: absolute;
  bottom: 110%;
  left: 0;
  z-index: 2;
}

.optionContainer .overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  display: none;
}

.optionContainer .overlay.active {
  display: block;
}

/* ================= DESKTOP FIRST ================= */

/* -------- Large Desktop -------- */
@media (max-width: 1353px) {
  /* sidebar*/
  .sidebar {
    width: max-content;
  }

  /* .logo */
  .sidebar .navContainer .logo {
    display: none;
  }

  .sidebar .navContainer .logoSmall {
    display: block;
  }

  .sidebar .linkContainer {
    align-items: center;
    justify-content: center;
  }

  .sidebar .name {
    display: none;
  }
}
