/* post card */
.postCard {
  width: 450px;
  margin-bottom: 20rem;
}

/* ----------------------------------- */

/* image container */
.imageContainer {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 0.8rem;
  overflow: hidden;
  background: var(--bg-black);
  border: 1px solid var(--border-primary);
}

/* ----------------------------------------- */

.imageContainer .swiper,
.imageContainer .swiper-slide {
  width: 100%;
  height: 100%;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}
