/* comment writing container  */
.commentModal .commentsInfoCont .writeCommentCont {
  padding: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

/* comment writin box */
.writeCommentCont .writeCommentBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* comment writin box imoji open icon*/
.writeCommentCont .writeCommentBox .imojiOpen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 3rem;
  color: var(--text-color-1);
}

.writeCommentCont .writeCommentBox .imojiOpen.active {
  color: var(--text-color-4);
  transition: 0.2s ease;
}

/* text area */
.writeCommentBox .textArea {
  resize: none;
  width: 100%;
  overflow-y: hidden;
  line-height: 1.6;
  letter-spacing: 0.01rem;
  font-family: var(--font-heading);
  color: var(--text-color-2);
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0 1rem;
  width: 85%;
  line-height: 24px;
  min-height: 30px;
  max-height: 100px;
  padding-top: 0.5rem;
}

.writeCommentBox .textArea::placeholder {
  color: var(--text-color-1);
  font-size: 1.7rem;
  font-family: inherit;
}

/* Handle */
.writeCommentBox .textArea::-webkit-scrollbar-thumb {
  background: #555;
  border: 2px solid var(--bg-secondary);
  border-radius: 10px;
}

/* Handle on hover */
.writeCommentBox .textArea::-webkit-scrollbar-thumb:hover {
  background: var(--border-tirtay);
}

/* post comment button */
.writeCommentBox .postCommentBtn {
  font-size: 1.5rem;
  font-family: var(--font-heading);
  font-weight: 500;
  letter-spacing: 0.03rem;
  color: var(--text-color-1);
  transition: 0.2s ease;
}

.writeCommentBox .postCommentBtn.active {
  color: var(--text-color-4);
}

/* emoji picker --------------------- */

.pickerCloseOverlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.writeCommentBox .emojiPickerCont {
  width: max-content;
  position: absolute;
  left: 2%;
  bottom: 110%;
  z-index: 2;
}
