@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.storySkeleton {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;

  background: linear-gradient(
    90deg,
    var(--bg-six) 25%,
    var(--bg-secondary) 37%,
    var(--bg-six) 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s infinite;
}
