.SuggestAccSkeleton {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.accAvatar {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

.accLine {
  width: 80%;
}

.accLine .accLine1 {
  width: 100%;
  height: 1.2rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.accLine .accLine2 {
  width: 70%;
  height: 1.2rem;
  border-radius: 0.4rem;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

/* apply shimmer */
.accAvatar,
.accLine .accLine1,
.accLine .accLine2 {
  background: linear-gradient(
    90deg,
    var(--bg-six) 25%,
    var(--bg-secondary) 37%,
    var(--bg-six) 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s infinite;
}

.SuggestAccSkeleton.firstSkeleton {
  margin-bottom: 4rem;
}
