.createModal.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  inset: 0;
  background: rgb(0 0 0 / 0%);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1.2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.createModal .modal {
  min-width: 50rem;
  background-color: var(--bg-six);
  border-radius: 1.2rem;
  color: var(--text-color-2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Header */
.createModal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border-bottom: 0.1rem solid var(--border-secondary);
  background: var(--bg-four);
  height: 5rem;
}

.createModal .modal-header .title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  font-family: var(--font-heading);
  color: var(--text-color-2);
}

.createModal .modal-header .headerIcon {
  font-size: 2.2rem;
  cursor: pointer;
  color: var(--text-color-2);
  display: flex;
  align-items: center;
}

.createModal .modal-header .next {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  font-family: var(--font-heading);
  color: var(--text-color-3);
  cursor: pointer;
}

/* ------------------------------------- */

/* select UI */
.select-area {
  width: 50rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.imgIcon {
  width: 10rem;
}

.select-area p {
  font-family: var(--font-heading);
  font-size: 1.9em;
  margin-block: 1rem;
  color: var(--text-color-4);
  font-weight: 400;
}

.select-area button {
  background-color: #0095f6;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

/* edit UI */

.ImagePreviewCont {
  width: 50rem;
  height: 50rem;
}

.ImagePreviewCont .Image {
  width: 50rem;
  height: 50rem;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ImagePreviewCont .Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-area {
  height: 50rem;
  width: 50rem;
}

.edit-area .imageSwiper {
  width: 100%;
  height: 100%;
}

.edit-area .imageSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageSwiper .swiper-button-disabled {
  display: none !important;
}

.imageSwiper .swiper-button-next,
.imageSwiper .swiper-button-prev {
  width: 3.5rem;
  height: 3.5rem;
  background: var(--bg-four);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.imageSwiper .swiper-button-next svg,
.imageSwiper .swiper-button-prev svg {
  object-fit: contain;
  transform-origin: center;
  fill: currentColor;
  pointer-events: none;
  height: 20px;
  color: var(--text-color-2);
  stroke-width: 2.5;
}

.swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 0.3 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1 !important;
}

/* post area ui */
.post-area {
  display: flex;
  height: 50rem;
}

.post-area .ImagePreviewCont {
  border-right: 1px solid var(--border-secondary);
}

.post-area .ImagePreviewCont .Image {
  background-color: var(--bg-secondary);
  border-right: 1px solid var(--border-secondary);
}

.post-area .ImagePreviewCont .Image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}

/* content writing area */

.post-area .contentWritingArea {
  width: 30rem;
  height: 100%;
  background-color: var(--bg-six);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* user row */
.userRow {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #555;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.username {
  font-weight: 500;
  font-size: 1.7rem;
  font-family: var(--font-heading);
  color: var(--text-color-2);
}

/* caption */
.captionInput {
  width: 100%;
  min-height: 20rem;
  resize: none;
  outline: none;
  background: var(--bg-secondary);
  padding: 1rem;
  font-family: var(--font-heading);
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
  color: var(--text-color-2);
}

.captionInput::placeholder {
  color: var(--text-color-1);
}

.captionFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.captionFooter .count {
  font-size: 1rem;
  font-family: var(--font-heading);
  color: var(--text-color-1);
}

/* location */
.locationRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    border-block: 1px solid var(--border-secondary);
}

.locationInput {
  font-size: 1.5rem;
  font-family: var(--font-heading);
  color: var(--text-color-2);
  letter-spacing: 0.05rem;
}

.locationInput::placeholder {
  color: var(--text-color-1);
}

.locationIcon {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* note */
.note {
  font-size: 1.4rem;
  color: var(--text-color-1);
  font-family: var(--font-heading);
  font-weight: 400;
  text-align: center;
  margin-top: auto;
}
