.feedLoading {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: var(--text-color-5);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.noMoreText {
  font-size: 2rem;
  font-family: var(--font-heading) cursive;
  color: var(--text-color-1);
}
