.homePage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.homePage .homePageContentCont {
  width: 1020px;
  display: flex;
  margin-top: 2rem;
}

.homePage .storyAndFeedCont {
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.homePage .storyCont {
  height: 11rem;
  width: 100%;
  border: 1px solid var(--border-primary);
  background: var(--bg-six);
}

.homePage .feedCont {
  width: 100%;
  height: 60vh;
  border: 1px solid var(--border-primary);
}

.homePage .accountSuggestionCont {
  width: 330px;
  height: 90vh;
  margin-left: 4rem;
  border: 1px solid var(--border-primary);
  background: var(--bg-six);
}
