.homePage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.homePage .homePageContentCont {
  width: 1040px;
  display: flex;
  margin-top: 2rem;
}

.homePage .storyAndFeedCont {
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.homePage .storyCont {
  height: 11rem;
  width: 100%;
}

.homePage .feedCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 3rem;
}

.homePage .accountSuggestionCont {
  width: 280px;
  height: 90vh;
  margin-left: 8rem;
  margin-top: 2.5rem;
}

/* ================= DESKTOP FIRST ================= */

/* -------- Large Desktop -------- */
@media (max-width: 1353px) {
  /* home page content container */
  .homePage .homePageContentCont {
    justify-content: center;
  }

  /* account sugestion container */
  .homePage .accountSuggestionCont {
    display: none;
  }
}
