.stories_component {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.story {
  background: var(--bg-six);
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
}
