/* google font import link */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS root variable */
:root {
  /* fonts */
  --font-main: "Lato", sans-serif;
  --font-heading: "Poppins", sans-serif;

  /* background colors */
  --bg-primary: #0c1014;
  --bg-secondary: #25292e;
  --bg-tirtary: #262626;
  --bg-four: #2b2f33;
  --bg-five: #dbdbdb;
  --bg-six: #212328;
  --bg-black: #000000;
  --bg-red: #ff3040;

  /* hovers color */
  --hover-primary: #25282c;
  --hover-secondary: #3a3f45;

  /* border colors */
  --border-primary: #262626;
  --border-secondary: #555555;
  --border-tirtay: #43434369;

  /* text color */
  --text-color-1: #a8a8a8;
  --text-color-2: #ffffff;
  --text-color-3: #6878ff;
  --text-color-4: #e4e6eb;
  --text-color-5: #494949;
  --text-color-6: #efefef;
  --text-color-7: #a2aaf1;
  --text-color-8:  #e6e6e6;
  --text-error-color: #ff4d4d;

  /* buttons bg color */
  --btn-bg-primary: #4a5df9;

  /* button hover */
  --btn-bg-primary-hover: #6273ff;
  --btn-bg-secondary-hover: #162fff;

  /* transitions */
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
  --transition-slow: 0.4s ease;
}

/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-heading);
  /* border: 1px solid blue; */
}

/* HTML & Body Styling */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-primary);
  position: relative;
  /* overflow: hidden; */
}

/* Headings & Paragraph */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input#dateOfBirth {
  width: 100%;
  height: 100%;
  color: var(--text-color-1);
  padding: 0 1.5rem;
  font-size: 1.4rem;
  font-family: var(--font-heading);
  text-transform: uppercase;
}

/* Buttons */
button {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

/* Inputs & Textareas */
input,
textarea {
  border: none;
  outline: none;
  font: inherit;
  background-color: transparent;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Lists */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
  border: 2px solid var(--bg-primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* REUSABLE CLASSES */
.rule {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.rule .line {
  height: 0.1rem;
  width: 11rem;
  background: var(--border-primary);
}

.rule .orText {
  color: var(--text-color-1);
  font-family: var(--font-heading);
  font-size: 1.3rem;
  letter-spacing: 0.07rem;
  font-weight: 400;
}

.rule .fullLine {
  height: 0.1rem;
  width: 100%;
  background: var(--border-primary);
}

/* button primary */
.btn-primary {
  width: 100%;
  height: 3.7rem;
  background: #4a5df98f;
  border-radius: 7px;
  margin: 1rem 0;
  color: #ffffffba;
  font-family: var(--font-heading);
  font-size: 1.4rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  cursor: not-allowed;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-pri-active {
  background: var(--btn-bg-primary);
  color: var(--text-color-2);
  cursor: pointer;
}

.btn-pri-active:hover {
  background: var(--btn-bg-primary-hover);
}

.btn-blue {
  height: 3.7rem;
  background: var(--btn-bg-primary);
  font-family: var(--font-heading);
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  cursor: not-allowed;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  color: var(--text-color-2);
  font-weight: 500;
}

.btn-blue:hover {
  background: var(--btn-bg-secondary-hover);
}

/* btn loader */
.spinner {
  display: inline-flex;
  animation: spin 1s linear infinite;
  font-size: 2rem;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* page loader */
.loader_2_container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loder_2 {
  position: absolute;
  top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-primary-bright);
  animation: spin 1s linear infinite;
  color: var(--text-color-1);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* custom toasts designs */
.custom-toast {
  border-radius: 1rem !important;
  padding: 14px 20px !important;
  width: fit-content;
  margin: 0 auto;
  background: var(--bg-tirtary) !important;
  color: var(--text-color-2);
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.03rem;
}
