/* google font import link */
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Outfit:wght@100..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS root variable */
:root {
  /* background colors */
  --bg-primary: #000000;
}

/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

/* HTML & Body Styling */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
  position: relative;
}

/* Headings & Paragraph */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Buttons */
button {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

/* Inputs & Textareas */
input,
textarea {
  border: none;
  outline: none;
  font: inherit;
  background-color: transparent;
}

/* Inputs & Textareas */
input,
textarea {
  border: none;
  outline: none;
  font: inherit;
  background-color: transparent;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Lists */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
  border: 2px solid var(--bg-primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* REUSABLE CLASSES */
