/* comment box */
.commentBox {
  width: 100%;
}

/* no comments message */
.commentBox .noCommentsMessage {
  margin: 2rem 0;
  color: var(--text-color-1);
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

/* comment item container */
.CommentItemContainer {
  width: 100%;
}

/* comment item ----------------------------------------------------- */

/* comment item and reply item*/
.commentItem {
  margin-bottom: 2rem;
  display: flex;
  gap: 1.2rem;
}

/* comment item profile image */
.commentItem .commentItemProfileImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

/* ----------- */

/* comment item content */
.commentItem .commentItemContent {
  flex: 1;
}

/* comment item header */
.commentItem .commentItemContent .commentItemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

/* commet and username container */
.commentItemHeader .commentAndUsername {
  margin-bottom: 1rem;
}

/* username */
.commentItemHeader .commentAndUsername .username {
  font-weight: 500;
  font-size: 1.4rem;
  font-family: var(--font-heading);
  color: var(--text-color-6);
  margin-right: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  gap: 0.5rem;
}

.commentItemHeader .commentAndUsername .username:hover {
  text-decoration: underline;
}

/* verify batch */
.commentItemHeader .commentAndUsername .icon {
  color: var(--text-color-3);
  font-weight: 500;
  font-size: 1.5rem;
}

/* replied to username */
.commentItemHeader .commentAndUsername .username.repliedToUsername {
  color: var(--text-color-3);
}
.commentItemHeader .commentAndUsername .username.repliedToUsername:hover {
  text-decoration: none;
}

/* comment */
.commentItemHeader .commentAndUsername .comment {
  color: var(--text-color-8);
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 1.4rem;
}

/* ----------- */

/* comment likes */
.commentItemHeader .commentItemLikes {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  align-self: start;
}

.commentItemHeader .commentItemLikes .icon {
  color: var(--text-color-6);
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.commentItemHeader .commentItemLikes .icon:hover {
  transform: scale(1.2);
}

/* ----------- */

.commentItemContent .commentItemFooter {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--text-color-1);
  font-size: 1.2rem;
  font-weight: 500;
}

.commentItemContent .commentItemFooter .replay {
  cursor: pointer;
  transition: 0.2s ease;
}

.commentItemContent .commentItemFooter .replay:hover {
  transform: scale(1.1);
}

.commentItemContent .commentItemFooter .deleteButton {
  cursor: pointer;
  transition: 0.2s ease;
  color: var(--text-error-color-lite);
  letter-spacing: 0.03rem;
}

.commentItemContent .commentItemFooter .deleteButton:hover {
  transform: scale(1.1);
}

/* comment item replay ----------------------------------------------------- */

/* replies container */
.commentItem .repliesContainer {
  width: 100%;
  margin-top: 2rem;
  border-radius: 1rem;
}

/* view comments replay button */
.commentItem .viewReplayBtn {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  cursor: pointer;
  margin-top: 1.5rem;
}

/* view comments line */
.commentItem .viewReplayBtn .line {
  height: 1.6px;
  width: 5rem;
  background-color: var(--bg-seven);
  border-radius: 1rem;
}

/* button text */
.commentItem .viewReplayBtn .btnText {
  font-size: 1.3rem;
  color: var(--text-color-1);
  letter-spacing: 0.03rem;
  font-weight: 500;
}
