.commentModalOverLay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 0%);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: pointer;
}

/* modal close button */
.commentModalClose {
  position: absolute;
  top: 2%;
  right: 4%;
  font-size: 2.5rem;
  color: var(--text-color-1);
  transition: 0.2s ease;
}

.commentModalClose:hover {
  color: var(--text-color-2);
}

/* ------------------------------------------------ */

/* comment modal */
.commentModalOverLay .commentModal {
  border-radius: 8px;
  display: flex;
  height: 60rem;
}

/* image container */
.commentModal .commentBoxImgCont {
  width: 50rem;
  height: 100%;
  overflow: hidden;
  background: var(--bg-black);
  position: relative;
  display: flex;
  align-items: center;
}

/* ------------------------------------------------ */

/* comments info container */
.commentModal .commentsInfoCont {
  background: var(--bg-four);
  width: 50rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ------------------------------------------------ */

/* comments info container header*/
.commentModal .commentsInfoCont .commentInfoContHead {
  padding-top: 1rem;
  border-bottom: 0.5px solid var(--border-tirtay);
}

.commentsInfoCont .commentInfoContHead .postCardHeader .userInfo .avatar {
  height: 3.5rem;
  width: 3.5rem;
}

/* ------------------------------------------------ */

/* caption and comments container */
.captionAndComments {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* caption */
.captionAndComments .caption {
  font-family: var(--font-heading);
  color: var(--text-color-6);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  word-spacing: 0.02rem;
}

.captionAndComments .commentrule {
  margin: 1.5rem auto;
  height: 1.5px;
  background: var(--border-tirtay);
  width: 70%;
  border-radius: 1rem;
}

/* comment box container */
.captionAndComments .commentBoxContainer {
  height: 3rem;
}

/* Handle */
.captionAndComments::-webkit-scrollbar-thumb {
  background: #555;
  border: 2px solid var(--bg-secondary);
  border-radius: 10px;
}

/* Handle on hover */
.captionAndComments::-webkit-scrollbar-thumb:hover {
  background: var(--border-tirtay);
}

/* ------------------------------------------------ */

.commentModal .commentsInfoCont .postActionContainer {
  border-block: 0.5px solid var(--border-tirtay);
}

.commentModal .commentsInfoCont .postActionContainer .postCardFooterTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

/* post card header styling for time only for comment info container */
.commentInfoContHead .postCardHeader .userInfoDetail .userNameAndTime .time {
  font-size: 1.3rem;
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--text-color-1);
}
