.welcomepage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  min-height: 100vh;
}

.welcomepage .imageContainer {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomepage .imageContainer img {
  width: 95%;
  height: auto;
}

.welcomepage .welcomePageForm {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
