.mainLayout {
  display: flex;
  height: 100vh;
  position: relative;
}

/* side navigation bar */
.mainLayout .SideNavigationBar {
  width: 25rem;
}

.mainLayout .SideNavigationBar.active {
  width: max-content;
}

/* content outlet */
.mainLayout .contentOutlet {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}

/* modal container */
.modalContainer {
  position: fixed;
  top: 0;
  left: 8rem; /* hamesha same */
  width: calc(100% - 8rem);
  height: 100vh;
  transform: translateX(-110%); /* hidden */
  transition: transform 0.3s ease;
  z-index: 2;
  cursor: pointer;
}

.modalContainer.active {
  transform: translateX(0);
}

/* ================= DESKTOP FIRST ================= */

/* -------- Large Desktop -------- */
@media (max-width: 1353px) {

  /* side navigaiton bar container of main layout */
  .mainLayout .SideNavigationBar {
    width: max-content;
  }

}

/* -------- Laptop / Small Desktop -------- */
@media (max-width: 1024px) {
  /* tablet landscape / small laptop */
}

/* -------- Tablet -------- */
@media (max-width: 768px) {
  /* tablet portrait */
}

/* -------- Large Mobile -------- */
@media (max-width: 640px) {
  /* big phones */
}

/* -------- Small Mobile -------- */
@media (max-width: 480px) {
  /* small phones */
}
