.notificationItem {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.notificationItem:hover {
  background: var(--bg-eight);
}

.notificationItem.unread {
  background: var(--bg-secondary);
}

/* avator */
.notiAvatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.notiAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notiContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.notiText {
  font-size: 1.4rem;
  color: var(--text-color-4);
  line-height: 1.4;
}

.notiUsername {
  font-weight: 600;
  color: var(--text-color-2);
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;
  margin-right: 0.5rem;
}

.notiUsername .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color-3);
}

.notiToggle {
  color: var(--text-color-1);
  cursor: pointer;
  font-size: 1.3rem;
}

.notiToggle:hover {
  color: var(--text-color-2);
}

.notiTime {
  font-size: 1.2rem;
  color: var(--text-color-1);
}

.notiThumbnail {
  width: 4rem;
  height: 4rem;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
}

.notiThumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
